/* add simple css for aligning stuff */

* {
    font-family: Georgia, 'Times New Roman', Times, serif
}

header, footer {
    background-color: #003333;
    color: whitesmoke;
    padding: 15px;
}

h3 {
    font-size: 1.1em;
}

img {
    width: 200px;
    background-color: blanchedalmond;
    border: white solid 5px;
    border-radius: 4px;
    margin-left: 15px;
}

.hidden_h1, .hidden_h2 {
    height: 0px;
    width: 0px;
}

.header_container {
    display: flex;

}

.header_container > img {
    flex: none
}

.profile {
    flex-grow: 1;
    text-align: center;
    margin-right: 0 auto;
}

.profile > h3, .profile > p {
    margin: 8px ;
}

.content_references, .footer_notes {
    font-size: .75em;
}

/* links will always be white */
.footer_links:visited, .footer_links:link, .mailto_link:visited, .mailto_link:link {
    color: white;
}

main {
    padding-top: 10px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 10px;
    display: flex;
    flex-direction: row-reverse;
    column-gap: 10px;
}

aside {
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 300px;
    padding: 10px;
    font-size: .9em;
    border: 2px dotted #003333;
}
